<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dirkwang.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dirk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PPActivity"
            android:label="LoadingBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="PPActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AnimationDemoActivity"
            android:label="AnimationDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="AnimationDemoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OtherAnimationActivity"
            android:label="OtherAnimation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SkinningActivity"
            android:label="SkinningActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="SkinningActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>